<% layout("layouts/boilerplate") %>
<%for (let listing of listings) {%>
    <div class="col-12 col-md-4 col-lg-3 p-3">
        <div class="card mb-3 mt-3">
            <div class="card-body">
                <h5 class="card-title"><%= listing.listingName %></h6>
                <img src="<%= listing.image %>" alt="" class="img-fluid">
                <h5 class="card-text"><%= listing.location %></h6>
                <h6 class="card-text"><%= listing.listingName %></h6>
                <h6 class="card-text"><%= listing.price %></h6>
                <h6 class="card-text"><%= listing.location %></h6>
                <h6 class="card-text"><%= listing.owner.username %></h6>
                <a class="btn btn-info" href="/admin/listings/<%=listing._id%>">View More</a>
            </div>
        </div>
    </div>
    <%}%>