<% layout("layouts/boilerplate") %>
<div class="container"> 
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 col-sm-12">
            <h1 class="text-center mb-4">Edit a Listing</h1>
            <div class="card mb-5 mt-5">
                <div class="card-body">
                  <h1 class="text-center mb-4"><i class="fas fa-gavel"></i> BidMart</h1>
                  <form action="/listings/<%=listing._id%>?_method=PUT" method="post" class="needs-validation" enctype="multipart/form-data" novalidate>
                        <div class="form-group mb-3">
                            <label for="title">Title<span class="text-danger">*</span></label>
                            <input class="form-control" type="text" name="title" id="title" value="<%= listing.title %> " required>
                            <div class="valid-feedback">
                                Looks good!
                              </div>
                              <div class="invalid-feedback">
                                Enter a title to continue.
                              </div>
                        </div>

                        <div class="mb-3">
                          <label class="form-label" for="bidAmount">Price<span class="text-danger">*</span></label>
                          <div class="input-group">
                            <span class="input-group-text">$</span>
                            <input type="number" name="price" id="price" class="form-control" value="<%= listing.price %>" required>
                            <div class="valid-feedback">
                              Looks good!
                            </div>
                            <div class="invalid-feedback">
                              Enter a price to continue
                            </div>               
                          </div>
                      </div>

                        <div class="form-group mb-3">
                          <label class="form-label" for="condition">Condition<span class="text-danger">*</span></label>
                          <select class="form-select" name="condition" id="condition">
                              <option value="New" <%= listing.condition === "New" ? "selected" : "" %>  >New</option>
                              <option value="Used-like new" <%= listing.condition === "Used-like new" ? "selected" : "" %>>Used-like new</option>
                              <option value="Used-good" <%= listing.condition === "Used-good" ? "selected" : "" %>>Used-good</option>
                              <option value="Used-fair" <%= listing.condition === "Used-fair" ? "selected" : "" %>>Used-fair</option>
                          </select>
                          <div class="valid-feedback">
                            Looks good!
                          </div>
                        <div class="invalid-feedback">
                            Please select the condition of the item.
                        </div>
                        </div>

                        <div class="form-group mb-3">
                          <label for="category" class="form-label">Category<span class="text-danger">*</span></label>
                          <select name="category" id="category" class="form-select">
                              <option value="Entertainment" <%= listing.category === "Entertainment" ? "selected" : "" %>>Entertainment</option>
                              <option value="Home & Garden" <%= listing.category === "Home & Garden" ? "selected" : "" %>>Home & Garden</option>
                              <option value="Electronics" <%= listing.category === "Electronics" ? "selected" : "" %>>Electronics</option>
                              <option value="Sports and outdoors" <%= listing.category === "Sports and outdoors" ? "selected" : "" %>>Sports and outdoors</option>
                              <option value="Clothing and accessories" <%= listing.category === "Clothing and accessories" ? "selected" : "" %>>Clothing and accessories</option>
                          </select>
                          <div class="valid-feedback">
                            Looks good!
                          </div>
                        <div class="invalid-feedback">
                            Please select a category.
                        </div>
                        </div>

                        <div class="form-group mb-3">
                            <label for="description">Description<span class="text-danger">*</span></label>
                            <textarea class="form-control" name="description" id="description" cols="10" rows="4"><%= listing.description %> </textarea>
                        </div>

                        <div class="form-group mb-3">
                            <label for="location">Location<span class="text-danger">*</span></label>
                            <input class="form-control" type="text" name="location" id="location" value="<%= listing.location %>" required>
                            <div class="valid-feedback">
                                Looks good!
                              </div>
                            <div class="invalid-feedback">
                               Enter a location to continue.
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="image" class="form-label">Images<span class="text-danger">*</span></label>
                            <div class="input-group mb-3">
                                <input multiple type="file" class="form-control" id="image" name="image" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                            </div>
                        </div>

                        <div class="text-center mb-3">
                            <button type="submit" class="btn btn-success">Update Listing</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



