<% layout("layouts/boilerplate") %>
<h1>My Listings</h1>

<!-- Check if there are any listings for that user -->
<% if (listings.length > 0) { %>
  <ul>
    <% for (let listing of listings) { %>
      <li>
        <h2><%= listing.listingName %></h2>
        <p><%= listing.description %></p>
        <p>Current price: <%= listing.price %></p>
        <!-- Check if a listing has any bids placed for it and if the auction for that listing has ended -->
        <% if (listing.bids.length === 0 && new Date(listing.endTime) < new Date()) { %>
          <form action="/listings/<%= listing._id %>/relist" method="post">
            <Button class="btn btn-sm btn-success">Relist</Button>
          </form>
        <% } %>
          <a href="/listings/<%= listing._id %>">View Listing</a>
      </li>
      <!-- Check if there is a user logged in and if the owners id of that listing is eqaul to the id of the currently logged in user -->
      <% if (currentUser && listing.owner.equals(currentUser._id)) { %>
        <div>
          <a class="btn btn-info" href="/listings/<%= listing._id%>/edit">Edit</a>
          <form action="/listings/<%= listing._id%>?_method=Delete" method="post">
            <Button class="btn btn-sm btn-danger">Delete</Button>
          </form>
        </div>
      <% } %>
    <% } %>
  </ul>
   
<% } else { %>
  <p>You have no listings.</p>
<% } %>
