<% layout("layouts/boilerplate") %>
<div class="row justify-content-center">
  <div class="col-lg-8 col-md-10 col-sm-12">
    <div class="card mb-5 mt-5 mx-auto">
      <div class="h1 card-heading text-center"><%= listing.title %></div>
      <div class="card-body"> 
        <div class="row">
          <div class="col-lg-7 col-md-12">
            <img src="<%= listing.image%> " alt="<%= listing.title %>" class="img-fluid card-img-top">
          </div>
          <div class="col-lg-5 col-md-12 mt-3">
            <h6 class="card-text">Seller: <%= listing.owner.username %> </h6>
            <h6 class="card-text">Starting Price: <%= listing.price %> </h6>
            <h6 class="card-text">Condition: <%= listing.condition %></h6>
            <h6 class="card-text">Category: <%= listing.category %></h6>
            <p class="card-text"><%= listing.description %></p>
            <div class="card-text h6 text-muted"><%= listing.location%></div>
            <div class="card-text" id="countdown"></div>

            <!-- Place bid for a listing -->
            <% if (!currentUser || !listing.owner.equals(currentUser._id)) {%>
            <form action="/listings/<%=listing._id%>/bids" class="needs-validation" method="post" novalidate id="place-bid" <% if (endTime) { %> <% if (new Date() >= new Date(endTime)) { %> style="display: none" <% } %> <% } %>>

              <div class="mb-3">
                <label class="form-label" for="bidAmount" >Bid Amount</label>
                <div class="input-group">
                  <span class="input-group-text">$</span>
                  <input class="form-control" type="text" name="bidAmount" id="bidAmount" required>
                </div>
                <div class="valid-feedback">
                  Looks good!
                </div>
                <div class="invalid-feedback">
                  Please enter a valid amount.
                </div>
              </div>

              <div class="mb-3 form-check">
                <input class="form-check-input" type="checkbox" name="agreement" id="agreement" required>
                <label class="form-check-label" for="agreement">I agree to the terms and conditions</label>
              </div>

              <button class="btn btn-success" id="submitBidBtn" onclick="return validateCheckbox()">Place Bid</button>
            </form>
            <%}%>
          </div>
        </div>

      <% if (endTime) { %>
        <% if (new Date() >= new Date(endTime)) { %>
          <div class="summary">
            <h1>Auction Summary</h1>
            <h6 class="card-text">Opened: <%= listing.startTime %> </h6>
            <h6 class="card-text">Closed: <%= listing.endTime %> </h6>
            <!-- Unique bidders -->
            <h6 class="card-text">bidders: <%= numBidders %> </h6> 
            <%if (listing.bids.length >= 1) {%>
              <!-- Total number of bids -->
              <h6 class="card-text">bids: <%= listing.bids.length %> </h6>
            <%}%>
            <% let highestBid = 0; %>
            <% for (let bid of listing.bids) { %>
              <% if (bid.bidAmount > highestBid) { %>
                <% highestBid = bid.bidAmount; %>
              <% } %>
            <% } %>
            <% if (highestBid > 0) { %>
              <h6 class="card-text">Winning bid: $<%= highestBid %> </h6>
            <% } %>
            <p class="card-text winner">Winner: 
              <% let winner = ''; %>
              <% for (let bid of listing.bids) { %>
                <% if (bid.bidAmount === highestBid) { %>
                  <% winner = bid.owner.username %>
                  <% break; %>
                <% } %>
              <% } %>
              <%= winner %>
            </p>
          </div>
        <% } %>
      <% } %>
          
      </div>
    </div>
  </div>
</div>


<% if (endTime) { %>
  <script>
    const endTime = new Date("<%= endTime %>");
    const countdown = document.getElementById("countdown");

    function updateCountdown() {
      const now = new Date();
      const remainingTime = endTime - now;

      if (remainingTime <= 0) {
        countdown.innerHTML = "Auction has ended.";
        return;
      }

      const days = Math.floor(remainingTime / (1000 * 60 * 60 * 24));
      const hours = Math.floor((remainingTime % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      const minutes = Math.floor((remainingTime % (1000 * 60 * 60)) / (1000 * 60));
      const seconds = Math.floor((remainingTime % (1000 * 60)) / 1000);

      countdown.innerHTML = `Auction ends in: ${days}d ${hours}h ${minutes}m ${seconds}s`;
    }

    setInterval(updateCountdown, 1000);

    function validateCheckbox() {
      let checkbox = document.getElementById("agreement");
      if (checkbox.checked) {
        document.getElementById("place-bid").submit();
        return true;
      } else {
        alert("Please check the box before submitting");
        return false;
      }
    }
  </script>
<% } %>




 