<% layout("layouts/boilerplate") %>
<head>
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<div class="container mt-5 mb-5">
  <div class="row mt-4 justify-content-center">
    <div class="col-md-8">
      <!-- Carousel to display all the listings images -->
      <div id="carouselExample" class="carousel slide rounded overflow-hidden">
        <div class="carousel-inner">
          <%listing.images.forEach((img, i) => {%>
            <div class="carousel-item <%= i===0 ? 'active' : '' %>">
              <img src="<%= img.url %>" class="d-block w-100" alt="..." style="object-fit: contain;">
            </div>
            <%})%>
        </div>
        <%if (listing.images.length > 1) {%>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
          <%}%>
      </div>

     <section class="mb-3">
      <div class="p-3 bg-white mt-4 mb-4 rounded ">
        <h1 class="card-title text-truncate pt-2 border-bottom pb-3"><%= listing.title %></h1>
        <div class="row mb-3 mt-2">
          <div class="col-md-6">
            <h5 class="card-text ">Price</h5>
            <p class="card-text mb-3"><span>$</span><%=listing.price %></p>
          </div>
          <div class="col-md-6 mb-3 mt-2">
            <h5 class="card-text ">Condition</h5>
            <p class="card-text"><%= listing.condition %></p>
          </div>
        </div>
        
        <div class="row mb-3 mt-2">
          <div class="col-12">
            <h5 class="card-text">Description</h5>
            <p class="card-text"><%= listing.description %></p>
          </div>
        </div>
      </div>
    </section>
  
    <section class="mb-3">
      <div class="p-3 bg-white mt-4 mb-4 rounded ">
        <h4 class="card-subtitle card-text mb-4">Auction Information</h4>
        <div class="row">
          <div class="col-12 mb-3">
            <% let highestBid = 0; %>
            <% if (listing.bids.length === 0) { %>
              <h6 class="card-text"><i class="fas fa-comment-alt"></i> No bids yet</h6>
            <% } else { %>
              <% for (let bid of listing.bids) { %>
                <% if (bid.bidAmount > highestBid) { %>
                  <% highestBid = bid.bidAmount; %>
                <% } %>
              <% } %>
              <% if (highestBid > 0) { %>
                <h6 class="card-text"><i class="fas fa-money-bill-wave"></i> Highest bid: $<%= highestBid %></h6>
              <% } %>
            <% } %>
            <div class="card-text mb-3" id="countdown">
              
            </div>
          </div>
          <!-- Place bid for a listing -->
          <% if (!currentUser || !listing.owner.equals(currentUser._id)) {%>
          <div class="col-12">
            <form action="/listings/<%=listing._id%>/bids" class="needs-validation" novalidate method="post" id="place-bid" <% if (endTime) { %> <% if (new Date() >= new Date(endTime)) { %> style="display: none" <% } %> <% } %>>
              <div class="mb-3">
                <label class="form-label" for="bidAmount">Bid Amount</label>
                <div class="input-group">
                  <span class="input-group-text">$</span>
                  <input type="text" name="bidAmount" id="bidAmount" class="form-control" required>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                  <div class="invalid-feedback">
                    Enter a valid amount to continue
                  </div>               
                </div>
                <div class="mb-3 mt-4 form-check">
                  <input class="form-check-input" type="checkbox" name="agreement" id="agreement" required>
                  <label class="form-check-label" for="agreement">I agree to the terms and conditions</label>
                </div>
              </div>
              <button class="btn mt-3 btn-primary" id="placeBidBtn" onclick="showModal()">
                <i class="fas fa-gavel"></i> Place Bid</button>
            </form>
            <div class="modal fade" tabindex="-1" role="dialog" id="bidConfirmationModal" aria-labelledby="confirmModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 id="confirmModalLabel" class="modal-title">Confirm Bid</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <p>Are you sure you want to place this bid?</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" id="confirmBidBtn">Yes</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% } %>
        </div>
      </div>
    </section>

    <section class="mb-3">
      <div class="p-3 bg-white mt-4 mb-5 rounded ">
        <h4 class="card-subtitle card-text mb-4">Seller Information</h4>
        <div class="row">
          <div class="col-12 mb-3">
            <p class="card-text"><i class="fas fa-user"></i> <%= listing.owner.username %></p>
            <div style='width: 100%; height: 10vh; border: 1px solid #ccc;' id='map' class="mb-3 mt-3"></div>
            <div class="card-text text-muted"><i class="fas fa-map-marker-alt"></i> <%= listing.location %></div>
          </div>
        </div>
      </div>
    </section>
    </div>
  </div>

    
<% if (endTime) { %>
  <script>

// Get a reference to the "Place Bid" form
const placeBidForm = document.getElementById('place-bid');

// Get a reference to the "Place Bid" button
const placeBidBtn = document.getElementById('placeBidBtn');

// Get a reference to the "Confirm Bid" button
const confirmBidBtn = document.getElementById('confirmBidBtn');

// Get a reference to the checkbox
const agreementCheckbox = document.getElementById('agreement');

// Add an event listener to the "Place Bid" button
placeBidBtn.addEventListener('click', (event) => {
  event.preventDefault(); // Prevent the form from being submitted automatically
  if (agreementCheckbox.checked) {
    $('#bidConfirmationModal').modal('show'); // Show the confirmation modal
  } else {
    alert('Please accept the terms and conditions to place a bid.');
  }
});

// Add an event listener to the "Confirm Bid" button
confirmBidBtn.addEventListener('click', (event) => {
  event.preventDefault(); // Prevent the form from being submitted automatically
  placeBidForm.submit(); // Submit the form
  $('#bidConfirmationModal').modal('hide'); // Hide the confirmation modal
});

    const endTime = new Date("<%= endTime %>");
    const countdown = document.getElementById("countdown");

    function updateCountdown() {
      const now = new Date();
      const remainingTime = endTime - now;

      if (remainingTime <= 0) {
        countdown.innerHTML = "Auction has ended.";
        return;
      }

      const days = Math.floor(remainingTime / (1000 * 60 * 60 * 24));
      const hours = Math.floor((remainingTime % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      const minutes = Math.floor((remainingTime % (1000 * 60 * 60)) / (1000 * 60));
      const seconds = Math.floor((remainingTime % (1000 * 60)) / 1000);

      countdown.innerHTML = `<i class="fa-regular fa-clock"></i>  ${days}d ${hours}h ${minutes}m ${seconds}s`;
    }

    setInterval(updateCountdown, 1000);

    function validateCheckbox() {
      let checkbox = document.getElementById("agreement");
      if (checkbox.checked) {
        document.getElementById("place-bid").submit();
        return true;
      } else {
        alert("Please check the box before submitting");
        return false;
      }
    }

  </script>
<% } %>

<script>
  const mapToken = '<%-process.env.MAPBOX_TOKEN%>'
  const listing = <%- JSON.stringify(listing)%>
</script>
<script src="/scripts/Maps.js"></script>

