<% layout("layouts/boilerplate") %>
<div class="container py-4">
  <div class="row">
    <% watchlist.forEach(function(item) { %>
      <div class="col-md-6 col-lg-4">
        <div class="card mb-4">
          <div class="position-relative">
            <img src="<%= item.listing.image %>" class="card-img-top rounded-0" alt="Listing Image">
            <span class="badge bg-danger position-absolute top-0 start-0 m-3">New</span>
          </div>
          <div class="card-body">
            <h5 class="card-title mb-3"><%= item.listing.title %></h5>
            <p class="card-text mb-2"><%= item.listing.description %></p>
            <p class="card-text text-muted mb-2">Seller: <%= item.listing.owner.username %></p>
            <p class="card-text text-muted"><%= item.listing.location %></p>
            <hr>
            <form action="/watchlist/<%= item.listing._id %>?_method=DELETE" method="POST">
              <button type="submit" class="btn btn-danger">Remove from Watchlist</button>
            </form>
          </div>
        </div>
      </div>
    <% }) %>
  </div>
</div>

