<% layout("layouts/boilerplate") %>
<head>
  <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<div class="container py-4">
  <% if (watchlist.length > 0) { %>
    <div class="row ">
      <% watchlist.forEach(function(item) { %>
        <div class="col-12 col-md-4 col-lg-3 mb-4">
          <div class="card h-100">
            <a href="/listings/<%=item.listing._id%>">
              <div class="image-container d-flex justify-content-center align-items-center">
                <img src="<%=item.listing.images[0].url%>" alt="A picture of <%= item.listing.title %>" class="thumbnail" >
              </div>
            </a>
            <div class="card-body">
              <h5 class="card-title mb-3"><%= item.listing.title %></h5>   
              <h6 class="card-text text-muted pb-1">Price: <i class="bi bi-currency-dollar"></i><%= item.listing.price %></h6>
              <%if (item.listing.endTime < new Date()) { %>
                <h6 class="card-text text-muted pb-1"><i class="bi bi-flag"></i> Auction ended</h6>
              <%} else { %>
                <h6 class="card-text text-muted pb-1"><i class="bi bi-clock"></i> Auction open</h6>
              <%}%>       
              <h6 class="card-text text-muted mb-2"><i class="bi bi-geo-alt"></i> <%= item.listing.location %></h6>
              <hr>
                <form action="/watchlist/<%= item.listing._id %>?_method=DELETE" method="POST">
                  <button type="submit" class="btn btn-danger w-100"><i class="bi bi-trash"></i> Remove from Watchlist</button>
                </form>
            </div>
          </div>
        </div>
      <% }) %>
    </div>
  <% } else { %>
    <div class="alert alert-info" role="alert">
      Your watchlist is empty
    </div>
  <% } %>
</div>


<script>
  const toggles = document.querySelectorAll('.description-toggle');
  toggles.forEach((toggle) => {
    toggle.addEventListener('click', (event) => {
      event.preventDefault();
      const card = toggle.closest('.product-card');
      const shortDesc = card.querySelector('.description-short');
      const fullDesc = card.querySelector('.description-full');
      const ellipsis = card.querySelector('.description-ellipsis');
      shortDesc.classList.toggle('d-none');
      fullDesc.classList.toggle('d-none');
      ellipsis.classList.toggle('d-none');
      if (shortDesc.classList.contains('d-none')) {
        toggle.textContent = 'See less';
      } else {
        toggle.textContent = 'See more';
      }
    });
  });
  
  </script>