 
<% layout("layouts/boilerplate") %>
<!-- Iterate through the user's watchlist and display each item -->
<% watchlist.forEach(function(item) { %>
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title"><%= item.listing.title %></h5>
      <p class="card-text"><%= item.listing.owner.username %></p>
      <p class="card-text"><%= item.listing.description %></p>
      <p class="card-text"><%= item.listing.locatiion %></p>
      <p class="card-text text-muted"><%= item.listing.location %></p>
      <form action="/watchlist/<%= item.listing._id %>?_method=DELETE" method="POST">
        <button type="submit" class="btn btn-danger">Remove from Watchlist</button>
      </form>
    </div>
  </div>
<% }) %>

