<% layout("layouts/boilerplate") %>

<head>
  <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<div class="container py-5">
  <h1 class="text-center mb-5">Your Listings</h1>
  <% if (listings.length > 0) { %>
    <div class="row">
      <% for (let listing of listings) { %>
        <div class="col-12 col-md-4 col-lg-3 mb-4">
          <div class="card product-card shadow d-flex flex-column">
            <a href="/listings/<%=listing._id%>">
              <div class="image-container d-flex justify-content-center align-items-center">
                <img src="<%=listing.images[0].url%>" alt="A picture of <%= listing.title %>" class="thumbnail" >
              </div>
            </a>
            <div class="card-body">
              <h5 class="card-title text-truncate pb-2"><%= listing.title %></h5>
              <p class="card-text"><strong>Price:</strong> <span class="fw-bold">$</span><%= listing.price%></p>
              <p class="card-text"><strong>Number of Bids:</strong> <%= listing.bids.length%></p>
              <p class="card-text text-muted pb-2"><strong>Start Date:</strong> <%= formatDate(listing.startTime) %></p>
                <div class="mt-auto d-flex justify-content-between align-items-center">
                  <div>
                    <% if (currentUser && listing.owner.equals(currentUser._id)) { %>
                      <a href="/listings/<%= listing._id %>/edit" class="btn btn-sm btn-primary me-2">
                        <i class="fas fa-pencil-alt"></i> Edit
                      </a>                      
                      <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal<%= listing._id %>">
                        <i class="fas fa-trash"></i> Delete
                      </button>                                            
                      <div class="modal fade" id="deleteModal<%= listing._id %>" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="deleteModalLabel">Delete listing</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <p>Are you sure you want to delete this listing?</p>
                            </div>
                            <div class="modal-footer">
                              <form action="/listings/<%= listing._id %>?_method=delete" method="post">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-danger">Delete</button>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>  
                      <% } %>                  
                  </div>
                  
                  <% if (listing.bids.length === 0 && new Date(listing.endTime) < new Date()) { %>
                    <form action="/listings/<%= listing._id %>/relist" method="post">
                      <button type="submit" class="btn btn-sm btn-success">
                        <i class="fas fa-check"></i> Relist
                      </button>                      
                    </form>
                  <% } %>
                </div>
            </div>
          </div>
        </div>
      <% } %>
    </div>
  <% } else { %>
    <div class="alert alert-info" role="alert">
      You haven't listed any items yet.
    </div>
  <% } %>
</div>



